page-home {

    h3 {
        padding-top: 50px;
        text-align: center;
        color: orange;
    }

    img {
        width: 300px;
        align-self: center;
        margin: auto;
        display: block;
    }

}
